<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.yanfeilin.mybatisstudy.domain.UserMapper">
  <select id="selectUser" resultMap="userResultMap">
    select * from t_user where u_id = #{id}
  </select>
  
  <resultMap type="User" id="userResultMap">
  	<id property="id" column="u_id" />
    <result property="username" column="u_name"/>
    <result property="password" column="u_pwd"/>
    <result property="nickname" column="u_nickname"/>
    <result property="type" column="u_type"/>
  </resultMap>
</mapper>